@font-face {
    font-family: tequilla;
    src: url('./fonts/LaTequilaOut.ttf');
}


@font-face {
    font-family: zabras;
    src: url('fonts/Zabars.ttf');
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('./img/background.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.display-none {
    display: none !important;
}

h1 {
    font-family: tequilla, Arial, Helvetica, sans-serif;
    font-size: 50px;
}

canvas {
    background-color: black;
}

#game-container {
    position: relative;
    height: 480px;
    width: 720px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
}

#start-screen {
    background-image: url('./img/9_intro_outro_screens/start/startscreen_2.png');
    z-index: 2;
}

#winning-screen {
    background-image: url('./img/5_background/first_half_background.png');
    z-index: 2;
}

#losing-screen {
    background-image: url('img/5_background/second_half_background.png');
    z-index: 2;
}

#game-over-img {
    height: 100%;
    width: 100%;
}

.mobile-controls {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 999;
}

.mobile-control-left {
    display: flex;
    gap: 20px;
    align-items: center;
}

.mobile-control-right {
    display: flex;
    gap: 20px;
    align-items: center;
}

.mobile-img {
    height: 40px;
    width: 40px;
    object-fit: contain;
}

.bottle-img {
    height: 40px;
    width: 40px;
    transform: rotate(45deg);
    object-fit: contain;
}

.mobile-btn {
    height: 50px;
    width: 50px;
    background-color: #DABA91;
    border: none;
    border-radius: 50%;
    padding: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px outset #A2724A;
    cursor: pointer;
}

.hud {
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    z-index: 999; 
}

.hud-btn {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: unset;
    border: unset;
    cursor: pointer;
}

.hud-img {
    height: 48px;
    width: 48px;
    object-fit: contain;
}

.hud-subsection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tooltip {
    position: absolute;
    top: 50px;
    background-image: url('./img/ui/wooden-bord-small.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: black;
    font-family: zabras;
    font-size: 24px;
    padding: 8px 10px;
    z-index: 1;
}

.menu {
    position: absolute;
    top: 42px;
    background-image: url('./img/ui/wooden-bord-large.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 21px 16px;
    height: 280px;
    width: 400px;
    display: flex;
    flex-direction: column;
}

#control-menu {
    justify-content: center;
}

.control-menu-explanation {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-left: 110px;
}

#hud-close {
    align-self: flex-end;
}

.close-img {
    height: 35px;
    width: 35px;
    object-fit: contain;
    position: absolute;
    right: 20px;
    top: 20px;
}

.setting-selection-music,
.setting-selection-fullscreen {
    display: flex;
    align-items: center;
    margin-left: 20px;
    gap: 35px;
}



@media (max-width: 720px) {
    canvas {
        width: 100%;
    }

    h1 {
        display: none;
    }
}

@media(max-height: 480px) {
    canvas {
        height: 100vh;
    }

    h1 {
        display: none;
    }
}