

@font-face {
    font-family: tequilla;
    src: url('./fonts/LaTequilaOut.ttf');
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('./img/background.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

h1 {
    font-family: tequilla;
    font-size: 50px;
}

canvas {
    background-color: black;
}

#start-screen {
    position: relative;
    margin-top: -480px;
    width: 720px;
    height: 480px;
    background-image: url('img/9_intro_outro_screens/start/startscreen_1.png');
    background-size: contain;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.display-none {
    display: none !important;
}


@media (max-width: 720px) {
    canvas,
    #start-screen {
        width: 100%;
    }
    h1 {
        display: none;
    }
}

@media(max-height: 480px) {
    canvas,
    #start-screen {
        height: 100vh;
    }
    h1 {
        display: none;
    }
}