

@font-face {
    font-family: tequilla;
    src: url('./fonts/LaTequilaOut.ttf');
}


@font-face {
    font-family: zabras;
    src: url('fonts/Zabars.ttf');
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('./img/background.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

h1 {
    font-family: tequilla, Arial, Helvetica, sans-serif;
    font-size: 50px;
}

canvas {
    background-color: black;
}

#overlay {
    position: relative;
    margin-top: -480px;
    width: 720px;
    height: 480px;
    background-image: url('img/9_intro_outro_screens/start/startscreen_1.png');
    background-size: contain;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.display-none {
    display: none !important;
}

button {
    width: 160px;
    height: 51px;
    font-size: 24px;
    font-size: zabras, Arial, Helvetica, sans-serif;
    border-radius: 20px;
    background-color: rgb(216, 155, 42);
    border: 1px solid lightgray;
    cursor: pointer;
}

.hud {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

@media (max-width: 720px) {
    canvas,
    #start-screen {
        width: 100%;
    }
    h1 {
        display: none;
    }
}

@media(max-height: 480px) {
    canvas,
    #start-screen {
        height: 100vh;
    }
    h1 {
        display: none;
    }
}